<div>
<label>Estado actual del pedido {{data.id}} : {{data.status}} -- Nuevo estado:</label>
<select value="" (change)="handleSelect($event)">
    <option value=""></option>
    <option value="confirmado">Confirmado</option>
    <option value="preparando">Preparado</option>
    <option value="enviando">Enviado</option>
    <option value="cancelado">Cancelado</option>
    <option value="entregado">Entregado</option>
</select>
<button (click)="save()">Actualizar</button>
<button (click)="close()">Cerrar</button>
</div>