<div>
<!-- <label>Estado actual del pedido {{id}} : {{status}} -- Nuevo estado:</label> -->
<label>dsdas</label>
<select (change)="handleSelect($event)">
    <option value="confirmado">Confirmado</option>
    <option value="preparado">Preparado</option>
    <option value="enviando">Enviado</option>
    <option value="cancelado">Cancelado</option>
    <option value="entregado">Entregado</option>
</select>
<button (click)="save()">Actualizar</button>
<button (click)="close()">Cerrar</button>
</div>