<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-toolbar>
            <h1>PEDIDOS!</h1>
        </mat-toolbar>
        <mat-nav-list>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="admin/productos">Listado de productos disponibles</a>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="admin/usuarios">Listado de usuarios registrados</a>
            <a (click)="sidenav.toggle()" mat-list-item routerLink="admin/pedidos">Listado de pedidos actuales</a>
            
            <span *ngIf="user.name">Hola {{user.name}}</span>
    
        
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>

    <span (click)="sidenav.toggle()"><mat-icon>menu</mat-icon>Pedidos</span>

    <button mat-stroked-button color="warn" (click)="logout()">Logout</button>

    </mat-toolbar> 

    <router-outlet></router-outlet>

</mat-sidenav-container>

