<mat-toolbar class="navBar">
    <span>Pedidos</span>
    <div class="fullWidth">
        <button mat-stroked-button class="navButton" routerLink="admin/productos">Listado de productos disponibles</button>
        <button mat-stroked-button class="navButton" routerLink="admin/usuarios">Listado de usuarios registrados</button>
        <button mat-stroked-button class="navButton" routerLink="admin/pedidos">Listado de pedidos actuales</button>
        
        <span *ngIf="user.name">Hola {{user.name}}</span>

        <button mat-stroked-button class="navButton floatRight" color="warn" (click)="logout()">Logout</button>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
