.active {
    background: red !important;
}

.brand {
    margin: 0 auto;
    display: inline-block;
}

.menu {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.register {
    font-weight: bold;
    color: grey;
    cursor: pointer;
}