<div class="cardContainer">
<mat-card *ngFor="let product of productList" class="card">
  <mat-card-title>{{ product.nombre }}</mat-card-title>
  <mat-card-content>
    <p>ID: {{ product.id_producto }} - {{ product.descripcion }}</p>
    <p>Precio: {{ product.precio | currency }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="deleteProduct(product.id_producto)">Borrar</button>
    <button (click)="updateProduct(product)">Editar</button>
  </mat-card-actions>
</mat-card>
</div>