<mat-sidenav #sidenav>
    <mat-toolbar>
        <h1>Menú Admin</h1>
    </mat-toolbar>
    <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item routerLinkActive="active"
            routerLink="admin/productos">Productos</a>
        <a (click)="sidenav.toggle()" mat-list-item routerLinkActive="active"
            routerLink="admin/usuarios">Usuarios</a>
        <a (click)="sidenav.toggle()" mat-list-item routerLinkActive="active" routerLink="admin/pedidos">Pedidos</a>

    </mat-nav-list>
</mat-sidenav>
