.loader {
    margin: 0 auto; 
}

.product-image {
    max-width: 300px;
    max-height: 300px;
}

.mat-card {
    margin: 20px auto;
    width: fit-content;
    text-align: center;
}

.mat-card-header {
    justify-content: center;
}

.cardDeck {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}    

@media screen and (max-width: 1400px) {
    .cardDeck {
        grid-template-columns: 1fr 1fr;
    }    
}

@media screen and (max-width: 768px) {
    .cardDeck {
        grid-template-columns: 1fr;
    }    
}
