<div *ngIf="productList.length === 0 && !(loading$ | async)">No hay productos para mostrar</div>

<mat-spinner *ngIf="loading$ | async; else divResults" class="loader"></mat-spinner>

<ng-template #divResults>
  <div class="cardDeck">
    <div *ngFor="let product of productList">
      <mat-card appearance="outlined" class="flexCard">
        <mat-card-header>
          <mat-card-title>{{ product.nombre }}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <p *appImageAlt="!product.imagen">Imagen no disponible para este producto</p>
        <img mat-card-image *appImageAlt="!!product.imagen" [src]="product.imagen" alt="producto" class="product-image">
        <mat-card-content>
          <p>Descripción: {{ product.descripcion }}</p>
          <p >Precio: <span appPricelens>{{ product.precio | currency }}</span></p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-stroked-button (click)="decrease(product)" *ngIf="inCart(product)" [disabled]="ordering">
            -
          </button>
          <button mat-stroked-button *ngIf="!inCart(product)" (click)="addProduct(product)" [disabled]="ordering">
            Agregar
          </button>
          <button mat-stroked-button *ngIf="inCart(product)" [disabled]="true">
            Agregado
          </button>
          <button mat-stroked-button (click)="increase(product)" *ngIf="inCart(product)" [disabled]="ordering">
            +
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>