.title {
    text-align: center;
}

.mainContainer {
    display: flex;
}

.cart {
    flex-basis: 15%;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
}

.total {
    text-align: center;
    font-size: larger;
}

.products {
    flex-basis: 85%;
}