<h2 class="title">Seleccioná los productos que querés agregar</h2>
<div class="mainContainer">
    <div class="cart">
        <h2>Carrito</h2>
        <div *ngIf="cart.length === 0">
            <p>Tu carrito está vacío, agregá productos y los vas a ver en este espacio.</p>
        </div>
        <ul *ngIf="cart.length > 0">
            <li *ngFor="let item of cart">{{item.nombre}} -- {{item.quantity}} -- {{item.quantity * item.precio |
                currency}}
                <button mat-button-stroked (click)="delete(item)">Borrar</button>
            </li>
        </ul>
        <div class="total" *ngIf="cart.length > 0">
            <p>Tenés {{quantity()}} <span [ngPlural]="quantity()">
                    <ng-template ngPluralCase="=1">unidad</ng-template>
                    <ng-template ngPluralCase="other">unidades</ng-template>
                </span> de {{distinctQuantity()}} <span [ngPlural]="distinctQuantity()">
                    <ng-template ngPluralCase="=1">producto</ng-template>
                    <ng-template ngPluralCase="other">productos</ng-template>
                </span> en el carrito</p>

            <p>El monto total es de {{total() | currency}}</p>

            <mat-form-field appearance="fill">
                <mat-label>Medio de Pago:</mat-label>
                <select matNativeControl [(ngModel)]="paymentMethod">
                    <option value="efectivo">Efectivo</option>
                    <option value="tarjeta">Tarjeta</option>
                </select>
            </mat-form-field>
        </div>

    </div>
    <div class="products">

        <app-products-list (evtUpdateProduct)="handleProductUpdate($event)"></app-products-list>
    </div>
</div>