<h2 class="title">Seleccioná los productos que querés agregar</h2>
<div class="mainContainer">
    <div class="cart">
        <h2>Carrito</h2>
        <ul>
            <li *ngFor="let item of cart">{{item.nombre}} -- {{item.quantity}} -- {{item.quantity * item.precio |
                currency}}
                <button mat-button-stroked (click)="delete(item)">Borrar</button>
            </li>
        </ul>
        <div class="total" *ngIf="cart.length > 0">
            <p>Tenes {{quantity()}} unidaes de {{distinctQuantity()}} productos en el carrito</p>

            <p>El monto total es de {{total() | currency}}</p>
        </div>

    </div>
    <div class="products">

        <app-products-list (evtUpdateProduct)="handleProductUpdate($event)"></app-products-list>
    </div>
</div>