<h2 class="title">Seleccioná los productos que querés agregar</h2>
<div class="mainContainer">
    <div class="cart">
        <h2 >Carrito</h2>
        <ul>
            <li *ngFor="let item of cart">{{item.nombre}} -- {{item.quantity}} <button mat-button-stroked (click)="delete(item)">Borrar</button></li> 
        </ul>
        <p>Tenes {{quantity()}} productos en el carrito</p>
    </div>
    <div class="products">

        <app-products-list (evtUpdateProduct)="handleProductUpdate($event)"></app-products-list>
    </div>
</div>