.title {
    text-align: center;
}

.mainContainer {
    display: flex;
}

.cart {
    flex-basis: 25%;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
}

.total {
    text-align: center;
    font-size: larger;
}

ul {
    text-align: left;
    font-size: large;
}

.products {
    flex-basis: 75%;
}

.selects .mat-mdc-form-field {
    display: blocK;
    margin: 0 auto;
}