.loader {
    margin: 0 auto; 
}

.product-image {
    max-width: 300px;
    max-height: 300px;
}

.mat-card {
    margin: 20px auto;
    width: fit-content;
    text-align: center;
}

.mat-card-header {
    justify-content: center;
}