.loader {
    margin: 0 auto; 
}

 table {
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

table th {
    font-weight: bolder;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    align-items: center;
}