/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    margin: 10px;
}

.flexCard {
    margin: 10px;
}

.sectionHeader {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.mat-sort-header-container {
    justify-content: center;
}

table {
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

table th {
    vertical-align: middle;
    text-align: center !important;
}

.statusBtn {
    width: 10em;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    align-items: center;
}

.loader {
    margin: 0 auto; 
}

.error {
    color:tomato
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.d-none {
    display: none !important
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}
